# --- Secrets ---
# VERY IMPORTANT: Ignore Firebase config files and local environment variables
google-services.json
.env*.local
*.pem
*.p8
*.p12
*.key

# --- Build & Dependency Folders ---
# Native build folders
android/
ios/

# Dependencies
node_modules/

# Web build output
dist/
web-build/

# Expo specific
.expo/
expo-env.d.ts

# --- Temporary & Cache Files ---
# Metro bundler
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# --- Native Build Artifacts (Good to have) ---
.kotlin/
*.orig.*
*.jks
*.mobileprovision

# --- Misc ---
# Remove example files if they exist
app-example